<!DOCTYPE html>
<html lang="ko" ng-app="poking">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>poking admin</title>


    <!-- Bootstrap Core CSS -->


    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/bower_components/angular-route/angular-route.min.js"></script>
    <script src="/bower_components/angular-resource/angular-resource.min.js"></script>
    <script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>

    <script src="/bower_components/d3/d3.js"></script>
    <script src="/bower_components/nvd3/build/nv.d3.js"></script> <!-- or use another assembly -->
    <script src="/bower_components/angular-nvd3/dist/angular-nvd3.js"></script>
    <link rel="stylesheet" href="/bower_components/nvd3/build/nv.d3.css">


    <script src="/admin_web/poking.auth.js"></script>
    <script src="/admin_web/poking.resource.js"></script>
    <script src="/admin_web/SendBird.min.js"></script>
    <script src="/admin_web/sendbirdAngular.js"></script>


    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>
    <!-- Angular Material Library -->
        <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>

    <!--<script src="/bower_components/angular-morris-chart/src/angular-morris-chart.js"></script>-->


    <!-- MetisMenu CSS -->
    <link href="/bower_components/metisMenu/dist/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->



    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">

    <!-- Custom Fonts -->
    <link href="/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="/admin_web/css/sb-admin-2.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="/bower_components/morris.js/morris.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->



    <!-- jQuery -->
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>

    <!--<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>-->
    <!-- Bootstrap Core JavaScript -->
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="/bower_components/metisMenu/dist/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="/admin_web/js/sb-admin-2.js"></script>


    <script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>


    <script src="/admin_web/poking_admin.js"></script>

</head>

<body>

<div id="wrapper">

<!-- Navigation -->
<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0" ng-controller="navCtrl">
<div class="navbar-header" >
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="index.html">poking admin</a>
</div>
<!-- /.navbar-header -->

<!-- <ul class="nav navbar-top-links navbar-right"> -->
<!--
<li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        <i class="fa fa-tasks fa-fw"></i>  <i class="fa fa-caret-down"></i>
    </a>
    <ul class="dropdown-menu dropdown-tasks">
        <li>
            <a href="#">
                <div>
                    <p>
                        <strong>Task 1</strong>
                        <span class="pull-right text-muted">40% Complete</span>
                    </p>
                    <div class="progress progress-striped active">
                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                            <span class="sr-only">40% Complete (success)</span>
                        </div>
                    </div>
                </div>
            </a>
        </li>
        <li class="divider"></li>
        <li>
            <a href="#">
                <div>
                    <p>
                        <strong>Task 2</strong>
                        <span class="pull-right text-muted">20% Complete</span>
                    </p>
                    <div class="progress progress-striped active">
                        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
                            <span class="sr-only">20% Complete</span>
                        </div>
                    </div>
                </div>
            </a>
        </li>
        <li class="divider"></li>
        <li>
            <a href="#">
                <div>
                    <p>
                        <strong>Task 3</strong>
                        <span class="pull-right text-muted">60% Complete</span>
                    </p>
                    <div class="progress progress-striped active">
                        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                            <span class="sr-only">60% Complete (warning)</span>
                        </div>
                    </div>
                </div>
            </a>
        </li>
        <li class="divider"></li>
        <li>
            <a href="#">
                <div>
                    <p>
                        <strong>Task 4</strong>
                        <span class="pull-right text-muted">80% Complete</span>
                    </p>
                    <div class="progress progress-striped active">
                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                            <span class="sr-only">80% Complete (danger)</span>
                        </div>
                    </div>
                </div>
            </a>
        </li>
        <li class="divider"></li>
        <li>
            <a class="text-center" href="#">
                <strong>See All Tasks</strong>
                <i class="fa fa-angle-right"></i>
            </a>
        </li>
    </ul>
</li> -->
<!--
<li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown">
        <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
    </a>
    <ul class="dropdown-menu dropdown-user">
        <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
        </li>
        <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
        </li>
        <li class="divider"></li>
        <li><a ng-click="logout()"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
        </li>
    </ul> -->
    <!-- /.dropdown-user -->
<!-- </li> -->
<!-- /.dropdown -->
<!-- </ul> -->
<!-- /.navbar-top-links -->

<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            <!-- <li class="sidebar-search">
                <div class="input-group custom-search-form">
                    <input type="text" class="form-control" placeholder="Search...">
                                <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                </div>
            </li> -->
            <li>
                <a ng-href="#/dashboard"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
            </li>
            <li>
                <a ng-href="#/users"><i class="fa fa-users fa-fw"></i> users</a>
            </li>
            <li>
                <a ng-href="#/approve"><i class="fa fa-user-plus fa-fw"></i> 프로필 승인</a>
                <!--<ul class="nav nav-second-level">-->
                    <!--<li>-->
                        <!--<a href="flot.html">Flot Charts</a>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a href="morris.html">Morris.js Charts</a>-->
                    <!--</li>-->
                <!--</ul>-->
                <!-- /.nav-second-level -->
            </li>
            <li>
                <a ng-href="#/screen"><i class="fa fa-photo fa-fw"></i> 사진 심사</a>
            </li>
            <li>
                <a ng-href="#/report"><i class="fa fa-user-times fa-fw"></i> 신고</a>
            </li>
            <li>
                <a ng-href="#/suggest"><i class="fa fa-edit fa-fw"></i> 건의</a>
            </li>
            <li>
                <a ng-href="#/reqUniversity"><i class="fa fa-edit fa-fw"></i> 대학요청</a>
            </li>
            <li>
                <a ng-click="logout()"><i class="fa fa-edit fa-fw"></i> 로그아웃</a>
            </li>
        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div>
<!-- /.navbar-static-side -->
</nav>

<div id="page-wrapper" ng-view>
</div>
<div class="userInfoBox" ng-controller="userInfoCtrl" ng-show="user.id != undefined">
  <div class="userInfoHeader">
    <p>유저정보<span class="pull-right text-muted"><i class="fa fa-times" aria-hidden="true" ng-click="closeInfoBox()"></i></span></p>
  </div>
  <div class="userInfoContent">
    <md-input-container style="margin : 0px; width: 100%">
        <label>유저 아이디</label>
        <input ng-model="user.id" readonly>
    </md-input-container>
    <br/>
    <md-input-container style="margin : 0px; width: 100%">
        <label>닉네임</label>
        <input ng-model="user.nickName"  ng-blur="changeNick(user.id,user.nickName)">
    </md-input-container>
    <br/>
    <md-input-container style="margin : 0px; width: 100%">
        <label>성별</label>
        <input ng-model="user.gender" readonly>
    </md-input-container>
    <br/>
    <md-input-container style="margin : 0px; width: 100%">
        <label>생년월일</label>
        <input type="text" value="{{user.birth | date : 'yyyy MM d'}}" readonly>
    </md-input-container>
    <br/>
    <md-input-container style="margin : 0px; width: 100%">
        <label>대학</label>
        <input ng-model="user.university" readonly>
    </md-input-container>
    <br/>
    <md-input-container style="margin : 0px; width: 100%">
        <label>학과</label>
        <input ng-model="user.major" readonly>
    </md-input-container>
    <br/>
    <md-input-container style="margin : 0px; width: 100%">
        <label>학번</label>
        <input ng-model="user.enterYear" readonly>
    </md-input-container>
    <br/>
    <md-input-container style="margin : 0px; width: 100%">
        <label>가입일</label>
        <input type="text" value="{{user.joinDate | date : 'yyyy MM d, H:mm:ss'}}" readonly>
    </md-input-container>
    <br/>
    <md-input-container style="margin : 0px; width: 100%">
        <label>마지막 로그인</label>
        <input type="text" value="{{user.lastLogin | date : 'yyyy MM d, H:mm:ss'}}" readonly>
    </md-input-container>
    <br/>
    {{'경고 : '+user.warning.length}}
    <div ng-repeat="warn in user.warning">
      {{warn.message}}
    </div>
  </div>
</div>
<!-- /#page-wrapper -->

<div class="photo-overlay" ng-controller="photoCtrl" ng-show="svc.open"></div>
<div class="photo-modal" ng-controller="photoCtrl" ng-show="svc.open">
  <!-- <img ng-src="{{svc.photo}}" class="photo-body"/> -->
  <img ng-src="{{svc.photo}}" class="photo-body" ng-click="closePhoto()"/>
</div>
<div class="photo-thumbnails" ng-controller="photoCtrl" >
  <div class="photo-thumbnail" ng-repeat="thumbnail in svc.thumbnails">
    <img ng-src="{{thumbnail}}" class="photo-body" ng-click="login(thumbnail)"/>
  </div>
</div>


</div>

<!-- /#wrapper -->




</body>

</html>
