<div class="showVideo" ng-init="init()">
    <div class="movie">
        <youtube code="content.yId"/>
    </div>

    <div class="movieInfo">
        <div class="titleWrap">
            <div class="title">
                <p class="titles">{{content.title}}
                </p>
                <span class="btnOpen glyphicon glyphicon-menu-down" aria-hidden="true" ng-click="toggle()" ng-if="!showContent"></span>
                <span class="btnOpen glyphicon glyphicon-menu-up" aria-hidden="true" ng-click="toggle()" ng-if="showContent"></span>
            </div>
            <div class="subInfo">
                조회수 : {{content.hit}}   게시일 : {{content.time | date:"yyyy/MM/dd h:mma"}}
            </div>
        </div>
        <div class="detailInfo clearfix">
            <div class="showRating">
                <span>별점</span> <span class="ratingStar"  uib-rating ng-model="content.avgScore" max="max" read-only="isReadonly" aria-labelledby="default-rating" style="color: #8A0808">
            <b></b></span> <span class="avgScore">{{content.avgScore}}점</span>

            </div>
            <div class="giveRating">
                <span>별점주기 </span>
                <span class="btnComment glyphicon glyphicon-menu-down" aria-hidden="true" ng-click="toggleForm()" ng-show="!showCommentForm"></span>
                <span class="btnComment glyphicon glyphicon-menu-up" aria-hidden="true" ng-click="toggleForm()" ng-show="showCommentForm"></span>
            </div>
        </div>

        <div class="movieContent" ng-if = "showContent">
            <div ng-bind="content.content"></div>
        </div>

    </div>

    <div class="scoreForm" ng-show="showCommentForm">
        <div class="scoreBoard">
            <!--<button type = "button" class = "btn btn-sm btn-danger" ng-click = "gradeDown()" style="color: #8A0808">-</button>-->
            <i class="fa fa-minus-circle"></i>
        <span class="ratingStar"  uib-rating ng-model="scores.score" max="max" read-only="!isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null" aria-labelledby="default-rating" style="color: #8A0808">
        <b>{{scores.score}}</b></span>
            <!--<button type = "button" class = "btn btn-sm btn-danger" ng-click = "gradeUp()" style="color: #8A0808 ">+</button>-->
            <i class="fa fa-plus-circle"></i>
            <br/><p class="mini">별을 클릭해주세요</p>
            <button type = "button" class = "btn btn-sm btn-danger" ng-click = "doScore()"> 확인 </button>
        </div>
    </div>

    <div class="comment" ng-repeat = "comment in comments">
        <div class="header">
            <p class="nickname" ng-bind="comment.nickname"></p>
            <a class="time" ng-bind="comment.time | date:'yyyy/MM/dd h:mma'"></a>
        </div>
        <div class="body">
            {{comment.content}}
        </div>
    </div>


    <footer class="footer btnFooter">
        <div style="width: 100%; height: 100%;">
            <input class="videoReply" type="text" ng-model="comment_content">
            <button class="videoReplyButton" ng-click="writeComment()">댓글쓰기</button>
        </div>
    </footer>
</div>