<div ng-cloak="" id="" ng-init = "init()">
    <div class="viewContainer">

      <div class="approveImgBox">
        <!-- cert -->
        <table>
          <tr>
            <td>
              <div class="approveImgItem">
                <div class="approveImgWapper">
                  <img ng-click="viewPhoto(cert.photo)" ng-src="{{cert.photo}}" class="md-card-image approveImg" >
                </div>
                <button class="btn center btnBlue" ng-class="{btnRed:cert.state}" ng-click="toggle(cert)">대학 첨부</button>
              </div>
            </td>
        <!-- photo -->
            <td  ng-repeat="photo in photos">
              <div class="approveImgItem">
                <div class="approveImgWapper">
                  <img ng-click="viewPhoto(photo.photo)" ng-src="{{photo.photo}}" class="md-card-image approveImg" >
                </div>
                <button class="btn center btnBlue" ng-class="{btnRed:photo.state}" ng-click="toggle(photo)">이미지 {{$index+1}}</button>
              </div>
            </td>

          </tr>
        </table>
      </div>

      <div class="approveContentsBox">
          <div class="col-lg-6 col-md-12">
              <md-input-container style="margin : 0px; width: 100%">
                  <label>유저 아이디</label>
                  <input ng-model="user.id" readonly>
              </md-input-container>
              <br/>
              <md-input-container style="margin : 0px; width: 100%">
                  <label>닉네임</label>
                  <input ng-model="user.nickName" ng-blur="changeNick(user.id,user.nickName)">
              </md-input-container>
              <br/>
              <md-input-container style="margin : 0px; width: 100%">
                  <label>성별</label>
                  <input ng-model="user.gender" readonly>
              </md-input-container>
              <br/>
              <md-input-container style="margin : 0px; width: 100%">
                  <label>생년월일</label>
                  <input type="text" value="{{user.birth | date : fullDate}}" readonly>
              </md-input-container>

          </div>

          <div class="col-lg-6 col-md-12">
              <md-input-container style="margin : 0px; width: 100%">
                  <label>대학</label>
                  <input ng-model="user.university" readonly>
              </md-input-container>
              <br/>
              <md-input-container style="margin : 0px; width: 100%">
                  <label>학과</label>
                  <input ng-model="user.major" readonly>
              </md-input-container>
              <br/>
              <md-input-container style="margin : 0px; width: 100%">
                  <label>학번</label>
                  <input ng-model="user.enterYear" readonly>
              </md-input-container>
          </div>
        </div>
                <!-- </md-card-content> -->
        <div class="approveFootBox">
            <!-- <md-button class="md-warn md-raised">사진</md-button>
            <md-button class="md-warn md-raised">증빙</md-button>
            <md-button class="md-warn md-raised">둘다</md-button> -->
            <button class="btn form-control btnBlue" ng-click="approveUser()">확인</button>
        </div>
    </div>
</div>
