<div class="viewContainer">
<div class="dashboardBox">
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Dashboard</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row" ng-init="init()">
    <!-- <div class="col-lg-3 col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-comments fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">{{countJoinToday.male + countJoinToday.female}}</div>
                        <div>Today Join</div>
                    </div>
                </div>
            </div>
            <a href="#">
                <div class="panel-footer">
                    <span class="pull-left">View Details</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div> -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-6">

        <!--가입자 나이 통계-->
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-bar-chart-o fa-fw"></i> 가입자 나이 통계
                <div class="pull-right">
                    <div class="btn-group">
                        <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                            보기
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu pull-right" role="menu"  ng-init="ageShowGraph = true; ageShowTable=false;">
                            <li><a  ng-click="ageShowGraph = true; ageShowTable=false;">graph</a>
                            </li>
                            <li><a ng-click="ageShowGraph = false; ageShowTable=true;">table</a>
                            </li>
                            <li><a ng-click="ageShowGraph = true; ageShowTable=true;">both</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div ng-show="ageShowGraph">
                    <nvd3 options="userAgeOptions" data ="userAgeData"></nvd3>
                </div>
                <div class="table-responsive" ng-show="ageShowTable">
                    <table class="table table-bordered table-hover table-striped">
                        <thead>
                        <tr>
                            <td>나이</td>
                            <td>남</td>
                            <td>여</td>
                            <td>합계</td>
                        </tr>
                        </thead>
                        <tr ng-repeat="item in userAge.male">
                            <td ng-bind="item.label"></td>
                            <td ng-bind="item.value"></td>
                            <td ng-bind="userAge.female[$index].value"></td>
                            <td ng-bind="item.value + userAge.female[$index].value"></td>
                        </tr>
                    </table>
                </div>

            </div>
            <!-- /.panel-body -->
        </div>
    </div>

    <div class="col-lg-6">
        <!-- /.panel -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-bar-chart-o fa-fw"></i> 가입자 학번 통계
                <div class="pull-right">
                    <div class="btn-group">
                        <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                            Actions
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu pull-right" role="menu"  ng-init="gradeShowGraph = true; gradeShowTable=false;">
                            <li><a  ng-click="gradeShowGraph = true; gradeShowTable=false;">graph</a>
                            </li>
                            <li><a ng-click="gradeShowGraph = false; gradeShowTable=true;">table</a>
                            </li>
                            <li><a ng-click="gradeShowGraph = true; gradeShowTable=true;">both</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div ng-show="gradeShowGraph">
                    <nvd3 options="userAgeOptions" data ="userGradeData"></nvd3>
                </div>
                <div class="table-responsive" ng-show="gradeShowTable">
                    <table class="table table-bordered table-hover table-striped">
                        <thead>
                        <tr>
                            <td>나이</td>
                            <td>남</td>
                            <td>여</td>
                            <td>합계</td>
                        </tr>
                        </thead>
                        <tr ng-repeat="item in userGrade.male">
                            <td ng-bind="item.label"></td>
                            <td ng-bind="item.value"></td>
                            <td ng-bind="userAge.female[$index].value"></td>
                            <td ng-bind="item.value + userAge.female[$index].value"></td>
                        </tr>
                    </table>
                </div>
            </div>
            <!-- /.panel-body -->
        </div>

        <!-- /.panel -->
    </div>
    <!-- /.col-lg-8 -->
    <div class="col-lg-12">

        <!-- /.panel -->
        <div class="row">
            <div class="col-lg-6 col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-bar-chart-o fa-fw"></i> 오늘 가입자
                    </div>
                    <div class="panel-body">
                        <!--<div id="morris-donut-chart"></div>-->

                        <nvd3 options="todayJoinOptions" data="todayJoinData"></nvd3>

                        <table class="table table-bordered table-hover table-striped">
                            <thead>
                            <tr>
                                <th>성별</th>
                                <th>가입자</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>남</td>
                                <td>{{countJoinToday.male}}</td>
                            </tr>
                            <tr>
                                <td>여</td>
                                <td>{{countJoinToday.female}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.panel-body -->
                </div>
            </div>



            <div class="col-lg-6 col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-bar-chart-o fa-fw"></i> 오늘 콕 카운트
                    </div>
                    <div class="panel-body">
                        <!--<div id="morris-donut-chart"></div>-->

                        <nvd3 options="todayJoinOptions" data="todayKockData"></nvd3>

                        <table class="table table-bordered table-hover table-striped">
                            <thead>
                            <tr>
                                <th>성별</th>
                                <th>가입자</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>남</td>
                                <td>{{countKockToday.male}}</td>
                            </tr>
                            <tr>
                                <td>여</td>
                                <td>{{countKockToday.female}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.panel-body -->
                </div>
            </div>
        </div>

        <!-- /.panel .chat-panel -->
    </div>
    <div class="col-lg-12">
        <div class="table-responsive col-lg-6 col-sm-12" >
            <table class="table table-bordered table-hover table-striped">
                <thead>
                <tr>
                    <td>url</td>
                    <td>count</td>

                </tr>
                </thead>
                <tr ng-repeat="item in logs">
                    <td ng-bind="item._id"></td>
                    <td ng-bind="item.count"></td>
                </tr>
            </table>
        </div>


        <div class="table-responsive col-lg-6 col-sm-12" >
            <table class="table table-bordered table-hover table-striped">
                <thead>
                <tr>
                    <td>url</td>
                    <td>count</td>

                </tr>
                </thead>
                <tr ng-repeat="item in device">
                    <td ng-bind="item._id"></td>
                    <td ng-bind="item.count"></td>
                </tr>
            </table>
        </div>
    </div>

    <!-- /.col-lg-4 -->
</div>
<!-- /.row -->
</div>
</div>
