<div ng-cloak="" id="" ng-init = "init()">
    <div class="viewContainer">
        <div class="screenHeader">
          <h3>
            사진 심사
          </h3>
        </div>
        <hr>
        <div class="screenBox">
          <div id="screenBody">
            <div class="col-md-6">
              <div class="imgBox">
                  <img ng-src="{{screenPhoto.temp}}" class="md-card-image imgWapper" ng-click="viewPhoto(screenPhoto.temp)">
              </div>
            </div>

            <div class="col-md-6">
              <div class="screenInfos">
                <md-input-container style="margin : 0px; width: 100%">
                    <label>id</label>
                    <input ng-click="getUserInfo(screenPhoto.id)" ng-model="screenPhoto.id" readonly>
                </md-input-container>
                <br/>
                <md-input-container style="margin : 0px; width: 100%">
                    <label>닉네임</label>
                    <input ng-model="screenPhoto.nickName" readonly>
                </md-input-container>
                <br/>
                <md-input-container style="margin : 0px; width: 100%">
                    <label>성별</label>
                    <input ng-model="screenPhoto.gender" readonly>
                </md-input-container>
                <br/>
                <md-input-container style="margin : 0px; width: 100%">
                    <label>생년월일</label>
                    <input ng-model="screenPhoto.birth" readonly>
                </md-input-container>
              </div>
            </div>
          </div>
          <div id="screenFooter">
            <div class="col-md-6">
              <button class="btn center btnBlue form-control" ng-click="approvePhoto()">승인</button>
            </div>
            <div class="col-md-6">
              <button class="btn center btnRed form-control" ng-click="denyPhoto()">삭제</button>
            </div>
          </div>
        </div>
    </div>

</div>
