<div >
    <div class="writeForm container-fluid">
        <div class="writeForm">
        <div class="movie" ng-if="writeInfo.link != ''">
            <youtube code="yLink()"/>
        </div>
        <div class="form-group">
            <label class="sr-only">제목</label>
            <input type="text" class="form-control" ng-model="writeInfo.title" placeholder="제목">
        </div>
        <div class="form-group">
            <label class="sr-only">카테고리</label>
            <select class="form-control" name="singleSelect" id="singleSelect" ng-model="writeInfo.cateIdx">
                <option value="1">춤</option>
                <option value="2">노래</option>
                <option value="3">연기</option>
            </select>
        </div>
        <!--<div class="form-group">-->
            <!--<label class="sr-only">제목</label>-->
            <!--<input type="text" class="form-control" ng-model="writeInfo.title" placeholder="제목">-->
        <!--</div>-->
        <div class="form-group">
            <label class="sr-only">제목</label>
            <input type="text" class="form-control" ng-model="writeInfo.link" placeholder="유투브 링크">
        </div>
        <div class="form-group">
            <label class="sr-only">내용</label>
            <input type="text" class="form-control" ng-model="writeInfo.content" placeholder="내용">
        </div>
        <button class="btn btn-primary sign_in_btn" ng-click="writeContent()">글작성</button>
        </div>
    </div>
</div>